body {
  background: #dfdfdf;
}

p {
  color: rgb(34, 34 ,34);
}


.foto-principal {
  width: 200px;
  border: 5px solid #ffffff; /*shorthand*/
  border-radius: 50%;
  /*
  border-width: 5px;
  border-style: solid;
  border-color: black;
  */
}
