body {
  background: #dfdfdf;
  font-family: Arial, 'Courier New', Courier, monospace;
  color: rgb(34, 34 ,34);
}

.foto-principal {
  width: 200px;
  height: 200px;
  border: 5px solid #ffffff; /*shorthand*/
  border-radius: 50%;
  margin: 30px;
  box-shadow: 0px 0px 10px #515151;
}

h1 {
  margin-bottom: 0;
  letter-spacing: -1px;
}

h2 {
  margin-top: 0;
  font-style: italic;
  color: rgb(73, 73, 73);
  font-weight: 100;
  letter-spacing: -1px;
}