body {
  background: #dfdfdf;
  font-family: 'Raleway', sans-serif;
  color: rgb(34, 34 ,34);
  margin: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.profile {
  text-align: center;
  margin-bottom: 40px;
}

.foto-principal {
  width: 200px;
  height: 200px;
  border: 5px solid #ffffff; /*shorthand*/
  border-radius: 50%;
  margin: 30px 30px 0 30px;
  box-shadow: 0px 0px 10px #515151;
}


h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 40px;
  margin-top: 10;
  margin-bottom: 0;
  letter-spacing: -1px;
}

h2 {
  margin-top: 0;
  font-style: italic;
  color: rgb(73, 73, 73);
  font-weight: 100;
  letter-spacing: -1px;
}

h4 {
  margin-bottom: 5px;
}

h5 { 
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 100;
  font-style: italic;
}

p {
  line-height: 25px;
  margin-top: 0;
}

.social-links {
  text-decoration: none;
}

.social-icons { 
  width: 20px;
}

.github {
  margin: 0 15px 0 15px;
}

.jobs-list {
  list-style: none;
  padding-left: 20px;
}

.footer {
  margin-top: 40px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}